.container.mx-auto.p-4
  %h1.text-lg.font-semibold Crossword Puzzle

  - if @data[:clues].present?
    %p.Clues
    %ol
      - @data[:clues].each_with_index do |clue, idx|
        %li= clue
  - else
    %p.no-clues No clues were supplied.  You can paste newline-separated
      clues in the `clues` query parameter.