.container.mx-auto.p-4
  %h1.text-2xl.mb-4 Puzzles

  %p Choose a puzzle type to generate:

  %ul.list-disc.list-inside
    %li
      %a.text-blue-600.hover:underline{ href: puzzles_word_search_pdf_path } Word Search (PDF)
    %li
      %a.text-blue-600.hover:underline{ href: puzzles_crossword_pdf_path } Crossword (PDF)
    %li
      %a.text-blue-600.hover:underline{ href: puzzles_sudoku_pdf_path } Sudoku (PDF)

  %p If you want to download a file directly use the corresponding
  %code download
  link for each type.

%div
  = link_to "DL: Word Search", puzzles_word_search_download_path(format: :pdf), class: "btn btn-primary", target: "_blank"